

<h3>Editing user_info</h3>

<div id="userlist">
<%= render 'userinfo' %>
</div>

<div id="usercalorielist">
<%= render 'usercaloriedatalist' %>
</div>


<%= render 'form' %>

<%= link_to 'Show', @user_info %> |
<%= link_to 'Back', user_infos_path %>
